---
import "../styles/global.scss";
import { Icon } from "astro-icon/components";
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";

const transition = fade({ duration: "0.1s" });
---

<!doctype html>
<html lang="en" class="text-darkgray text-lg font-medium">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Xavier Saliniere's website</title>
    <ClientRouter />
  </head>
  <body class="w-dvw h-dvh flex flex-col justify-center relative">
    <div
      class="flex items-center justify-between h-10 px-2 sm:px-5 text-darkgray/60 tracking-tighter absolute w-full top-0 transition-colors"
    >
      <div class="flex gap-x-2 text-xs sm:text-sm">
        <span class="cursor-pointer hover:text-darkgray">français</span>
        <span class="cursor-pointer hover:text-darkgray">english</span>
      </div>

      <a
        class="hover:text-darkgray flex items-center text-xs sm:text-sm"
        href="https://github.com/nipsysdev/personal-website"
        target="_blank"
      >
        <Icon name="mdi:github" size="1rem" />&nbsp;source code
      </a>
    </div>

    <div
      class="flex-auto flex items-center justify-center pt-10 px-2 pb-2 sm:px-5 sm:pb-5 lg:p-14"
    >
      <div
        class="flex flex-col size-full max-w-[1280px] max-h-[860px] overflow-hidden relative"
      >
        <div class="basis-9 flex flex-shrink-0">
          <div class="flex-auto flex gap-1">
            <a
              href="/"
              class="flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors bg-darkerslategray"
              data-astro-prefetch
            >
              terminal
            </a>
            <a
              href="/about-me"
              class="flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors bg-darkerslategray"
              data-astro-prefetch
            >
              about me
            </a>
            <a
              href="/experience"
              class="flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors bg-darkerslategray"
              data-astro-prefetch
            >
              experience
            </a>
            <a
              href="/blog"
              class="flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors bg-darkerslategray"
              data-astro-prefetch
            >
              blog
            </a>
          </div>
        </div>

        <div
          class="bg-darkerslategray flex-auto rounded-tr-md rounded-b-md overflow-hidden relative p-5"
          transition:animate={transition}
        >
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
