---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fade } from "astro:transitions";
import { getRelativeLocaleUrl } from "astro:i18n";
import { ViewRoute } from "../types/viewRoute";
import { RouteUtils } from "../utils/routeUtils";
import { I18n, CurrentLang } from "../stores/coreStore";
import { Lang } from "../constants/lang";

export interface Props {
  lang: Lang;
}
CurrentLang.set(Astro.props.lang);
const $lang = CurrentLang.get();
const transition = fade({ duration: "0.1s" });
const { enums } = I18n.get();
---

<BaseLayout>
  <div
    class="flex flex-col size-full max-w-[1280px] max-h-[860px] overflow-hidden relative"
  >
    <div class="basis-9 flex flex-shrink-0">
      <div class="flex-auto flex gap-1">
        {
          Object.values(ViewRoute).map((route) => {
            const active = RouteUtils.isView(Astro.url, route);
            return (
              <a
                href={getRelativeLocaleUrl($lang, route)}
                class={`flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors cursor-pointer ${
                  active ? "bg-darkerslategray" : "bg-darkslategray"
                }`}
                data-astro-prefetch
              >
                {enums.viewRoute[route]}
              </a>
            );
          })
        }
      </div>
    </div>

    <div
      class="bg-darkerslategray flex-auto rounded-tr-md rounded-b-md overflow-hidden relative p-5"
      transition:animate={transition}
    >
      <slot />
    </div>
  </div>
</BaseLayout>
