---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { ViewRoute } from "../types/viewRoute";
import { RouteUtils } from "../utils/routeUtils";
import { I18n, CurrentLang } from "../stores/coreStore";
import { Lang } from "../constants/lang";

export interface Props {
  lang: Lang;
}
CurrentLang.set(Astro.props.lang);
const $lang = CurrentLang.get();
const { core, enums } = I18n.get();
---

<BaseLayout>
  <div
    class="flex flex-col size-full max-w-[1280px] max-h-[860px] overflow-hidden relative"
  >
    <div class="basis-9 flex flex-shrink-0">
      <div class="flex-auto flex gap-1">
        {
          Object.values(ViewRoute).map((route) => {
            const active = RouteUtils.isView(Astro.url, route);
            return (
              <a
                href={getRelativeLocaleUrl($lang, route)}
                class={`flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors cursor-pointer ${
                  active ? "bg-darkerslategray" : "bg-darkslategray"
                }`}
                data-astro-prefetch
              >
                {enums.viewRoute[route]}
              </a>
            );
          })
        }
      </div>
    </div>

    <div
      class="bg-darkerslategray flex-auto flex flex-col rounded-tr-md rounded-b-md overflow-hidden relative p-5"
    >
      <div
        class="absolute top-2 right-2 z-10 rounded-full bg-darkerslategray overflow-hidden"
      >
        <div
          id="Web2_3-switch"
          class={`${$lang === Lang.En ? "w-48" : "w-72"} h-5 border border-solid rounded-full text-xs transition-all text-center cursor-default leading-normal`}
        >
          {core.web2}&nbsp;<span class="text-darkgoldenrod cursor-pointer"
            >{core.goWeb3}</span
          >
        </div>
      </div>
      <slot />
    </div>
  </div>

  <script>
    setTimeout(() => {
      const web2_3Switch = document.getElementById("Web2_3-switch");
      web2_3Switch?.classList.add("active");
      setTimeout(() => {
        web2_3Switch?.classList.remove("active");
      }, 3000);
    }, 500);
  </script>

  <style lang="scss">
    #Web2_3-switch {
      &:not(.active):not(:hover) {
        @apply w-12 opacity-65;
      }
    }
  </style>
</BaseLayout>
