---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { ViewRoute } from "../types/viewRoute";
import { RouteUtils } from "../utils/routeUtils";
import { I18n, CurrentLang } from "../stores/coreStore";
import { Lang } from "../constants/lang";
import "dayjs/locale/en";
import "dayjs/locale/fr";
import dayjs from "dayjs";

const currentLang = (Astro.currentLocale as Lang | undefined) ?? Lang.En;
CurrentLang.set(currentLang);
dayjs.locale(currentLang);
const { core, enums } = I18n.get();
const isWeb3 = import.meta.env.IS_WEB3 === "true";
---

<BaseLayout>
  <div
    class="flex flex-col size-full max-w-[1280px] max-h-[860px] overflow-hidden relative"
  >
    <div class="basis-9 flex flex-shrink-0">
      <div class="flex-auto flex gap-1">
        {
          Object.values(ViewRoute).map((route) => {
            const active = RouteUtils.isView(Astro.url, route);
            return (
              <a
                href={getRelativeLocaleUrl(currentLang, route)}
                class={`flex items-center text-xs px-2 sm:text-sm sm:px-3 lg:text-md lg:px-5 rounded-t-md lowercase transition-colors cursor-pointer ${
                  active ? "bg-darkerslategray" : "bg-darkslategray"
                }`}
                data-astro-prefetch
              >
                {enums.viewRoute[route]}
              </a>
            );
          })
        }
      </div>
    </div>

    <div
      class="bg-darkerslategray flex-auto flex flex-col rounded-tr-md rounded-b-md overflow-hidden relative p-5"
    >
      <div
        class="absolute top-2 right-2 z-10 rounded-full bg-darkerslategray overflow-hidden"
      >
        {
          isWeb3 ? (
            <div
              class={`web2_3-indicator ${currentLang === Lang.En ? "w-40" : "w-52"} border-darkgoldenrod text-darkgoldenrod`}
            >
              {core.web3}
            </div>
          ) : (
            <div
              class={`web2_3-indicator ${currentLang === Lang.En ? "w-48" : "w-72"}`}
            >
              {core.web2}
              <a
                href={`https://nipsys.gno.limo${RouteUtils.getUrlForLang(Astro.url, currentLang)}`}
                class="text-darkgoldenrod cursor-pointer"
              >
                {core.goWeb3}
              </a>
            </div>
          )
        }
      </div>
      <slot />
    </div>
  </div>

  <style lang="scss">
    .web2_3-indicator {
      @apply h-5 border border-solid rounded-full text-xs transition-all text-center cursor-default leading-normal;

      &:not(:hover) {
        @apply w-12 opacity-80;
      }
    }
  </style>
</BaseLayout>
